.container{
    padding: 0 !important;
}
.slider{
    background-color: #95979c;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.slider-image{
    height: 365px;
}
.special-offer-header{
    background-color:#ffd436 ;
    color: #232d40;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 2rem;
    letter-spacing: -.02em;
}
.special-offer{
    border:2px solid #ffd436 ;
    border-radius:12px ;
}
.item-special{
    padding: 10px 0 10px 20px;
}
.time{
    padding: 10px 20px 10px 0;
}
.producuct-info{
    padding: 20px !important;
}
.producuct-info-brand-title{
    color: #232d40;
    font-size: 1.2rem;
    line-height: 1.3rem;
    letter-spacing: -.02em;
    font-weight: 700;
    text-decoration: none;
}
.producuct-info_brand{
    width: 80px;
    height: 15px;
    cursor:grab;
    margin-top: 5px;
}
.product-image{
    width: 160px;
    height: 160px;
    padding: 14px 21px;
    text-decoration: none;
}
.product-info-labels{
    text-align: end;
}
.product__label{
    font-size: 0.65rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    overflow: hidden;
    display: inline-flex !important; 
    border-radius: 7px !important;
    cursor:grab;
    margin-top: 5px;
}
.product__label--purple{
    background: rgba(23,67,223,.07);
    color: #1743df!important;
    border: none;
}
.product__label--orange{
    background: rgba(246,134,31,.07);
    color: #f6861f!important;
    border: none;
}
.product__label--border{
    border: 1px solid currentColor;
}
.icon{
    font-size: 19px;
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.old-price{
    color: #95979c;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1rem;
    margin-bottom: 2px;
    text-decoration: line-through;
}
.new-price{
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
}

.product-info-btn{
   display: inline-flex;
   border-radius: 6px;
   border: 1px solid currentColor;
   font-weight: 600;
   align-items: center;
   box-sizing: border-box;
   padding: 0.8rem 1.6rem 0.8rem 2rem;
   transition: all ease-in-out 0.3s;
   font-size: 1rem;
}
.btn-orange{
    color: #fff;
    background-color: #f6861f;
}
.btn-orange:hover{
    color: #f6861f;
    background-color: #fff ;
    border: 1px solid #f6861f;
}
.btn-green{
    color: #fff;
    background-color:#40b659 ;
    height: 100%;
}
.btn-green:hover{
    color:#40b659;
    background-color:#fff ;
    border: 1px solid #40b659;
}

/* Banner bitdi */

.services-row{
    display: flex;
    flex-wrap: wrap;
    
}
.services-item{
    display: block;
    background: #fafbfc;
    padding: 3.6rem 0.5rem;
    text-align: center;
    color: #232d40;
    font-weight: 600;
    text-decoration: none;
    
}
.services-item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
}
.services-icon{
    color: #40b659 !important;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.4rem;
}
.services-info{
    color: #232d40 !important;
    font-weight: 600;
    background-color: transparent;
    transition: .3s;
    border-color: #1743df;
    text-decoration: none!important
}

.populars_new_products_choose{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #232d40;
    margin-bottom: 3rem;
}
.popular_or_new{
    opacity: .3;
    color: inherit;
    font-weight: inherit;
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
}
.popular_or_new_active{
    opacity: 1;
}
.products-slider__arrows .btn{
    box-shadow: 0 20px 50px rgb(0 0 0 / 5%), 0 5.94853px 15.1177px rgb(0 0 0 / 3%), 0 3.13211px 7.0172px rgb(0 0 0 / 3%), 0 1.1945px 3.02304px rgb(0 0 0 / 2%);
    width: 3.3rem;
    height: 3.3rem;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    padding: 0;
    margin-left: 1rem;

}
.arrow{
    font-size: 1rem;
    font-weight: 300;
    align-self: center;
}


/* mehsullar */
a{
    background-color: transparent;
    color: #1743df;
    font-weight: 400;
    transition: .3s;
    border-color: #1743df;
    text-decoration: none !important;
}

.products-slider__slides{
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 1px 0 0 0 #e3e5eb, 0 1px 0 0 #e3e5eb, 1px 1px 0 0 #e3e5eb, 1px 0 0 0 #e3e5eb inset, 0 1px 0 0 #e3e5eb inset;
    border: 1px solid #d2d3d6;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    font-weight: 400;
    padding: 0;
}
.flickity-enabled, .is-draggable{
    cursor: grab;
}
.flickity-viewport{
    height: 742px;
    overflow: hidden;
    position: relative;
}
.flickity-slider{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.product{
    width: calc(100%/4.04);
    min-height: 100%;
    height: auto;
    border-radius: 0 !important;
    padding: 0.8rem;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 1px 0 0 0 #e3e5eb, 0 1px 0 0 #e3e5eb, 1px 1px 0 0 #e3e5eb, 1px 0 0 0 #e3e5eb inset, 0 1px 0 0 #e3e5eb inset;

}

.product__tool-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__tools{
    justify-content: unset;
    margin-left: auto;
    color: #c2c5ca;
    display: flex;
    align-items: center;
}
.product__tools_a{
    color: inherit;
    margin-left: 2rem;
    background-color: transparent;
    font-weight: 400;
    transition: 0.3s;
    border-color: #1743df;
    text-decoration: none !important;
}
.product__tools_a .fa-balance-scale:hover{
color: #f6861f;
}
.product__tools_a .fa-heart:hover{
    color: #ff0000;
    }
.icon-p{
    width: 2rem;
    height: 1.3rem;
    vertical-align: middle;
    font-size: 1.2rem;
    
}
.product__img{
    height: 188px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    position: relative;
}
.product__img a{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #1743df;
    font-weight: 400;
    transition: 0.3s;
    border-color: #1743df;
    text-decoration: none !important;
} 
.product__img a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-style: none;
    vertical-align: middle;
}
.product__flex__left-right{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #212529;
    padding: 0;
}
.product__type{
    color: #95979c;
    font-size: 1rem;
    line-height: 2rem;
}
.product__name{
    color: #232d40;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1.2rem;
}
.product__colors{
    display: flex;
    flex-wrap: wrap;
    margin: .5rem 0;
    padding: 0;
    list-style: none;
    align-items: center;
}
.product__colors li{
    margin:0;
}
.product__colors li input{
    overflow: visible;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}
.product__colors li .white{
    border: 1px dashed #c2c5ca;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    display: block;
}
.product__star-comment{
    margin-bottom: 1rem;
    display: flex;
    justify-content: unset;
    align-items: center;
}
.star-rating{
    font-size: 2rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}
.star-rating .on{
    background-image: url("./images/starOrange.svg");
}
.star-rating li{
    float: left;
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.comment-count{
    margin-left: 1rem;
    color: #5b5f66;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;
}
.comment-count i{
    margin-right: 0.5rem;
    overflow: hidden;
    vertical-align: middle;
    font-size: 1.2rem;
}
.product__flex-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1
}
.product__labels{
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}
.product__labels .product__label{
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1rem;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    padding: 0.4rem .6rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    border: 1px solid currentColor;
    min-height: 1.8rem;
    margin-right: 0.6rem;
}
.product__label--light-orange{
    color: #f6861f !important;
}
.product__footer{
    margin-top: 1.6rem;
}
.product__price{
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__price .new-price{
    font-size:1.4rem ;
    line-height: 1rem;
}
.product__price__list{
    background-color: #fafbfc;
    border-radius: 6px;
    padding: 0.5rem;
    margin-bottom: 5px;
}
.product__price__list__taksit{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__price__list__taksit input{
    display: none;
}
.product__price__list__taksit label{
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #95979c;
    padding: 2px 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
}
.product__price__list__taksit input:checked+label{
    border-color: #232d40;
    color: #232d40;
}
.product__price__list__taksit-price{
    color: #232d40;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 0.4rem;
}
.product__to-cart{
    width: 100%;
    justify-content: center;
    transition: 0.3s ease-in-out;
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: 1rem;
    padding: 1.1rem 2rem;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}
.product__to-cart:active{
    background-color: #fff !important;
    color: #40b659 !important;
}
.product__to-cart i{
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
}

/* partners */

.partners {
    margin-bottom: 1rem;
    overflow-x: hidden;
}
.partner-title{
    font-size: 1.5rem;
    margin: 0;
}
.partners hr{
    margin-top: 0.5rem;

}
.partners__row{
    display: block;
    overflow:visible;
    margin: 0 -12px;
    position: relative;
}
.partners__row .flickity-viewport{
    overflow: hidden;
    position: relative;
    cursor: grab;
    height: 5rem;
}
.flickity-slider{
    position: absolute;
    display: flex;
}
.partners__cell{
    width: calc(100%/6);
    padding: 0 12px;    
}
.partners__item{
    border: 1px solid #e3e5eb;
    height: 5rem;
    border-radius: 8px;
    justify-content: center;
    transition: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #1743df;
    font-weight: 400;
    text-decoration: none !important;
}
.partners__item img{
    max-width: 50%;
    max-height: 50%;
    border-style: none;

}

/* video-block */
.video-block{
    margin-top: 20px;
}
.youtube-link{
    float: right;
    white-space: nowrap;
    transition: .3s ease-in-out;
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid currentColor;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
    align-items: center;
    box-sizing: border-box;
}
.youtube-link:hover{
    background-color: #fff;
    color: #f23620;
    border-color: #f23620;
}
.btn-red{
    color: #fff;
    background-color: #f23620;
}
.youtube-link i{
    margin-right: 0.4rem;
    overflow: hidden;
}