.container-fluid {
    max-width: 1350px;
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.2rem);
    padding-left: var(--bs-gutter-x, 1.2rem);
    margin-right: auto;
    margin-left: auto;
  }
  .products h1{
    font-weight: 600;
    font-size: 1.4rem;
    color: #232d40;
    margin: 1.4rem 0;
  }
  .products-row{
    border: 1px solid rgb(235, 229, 229);
    border-radius: 10px;
    display: flex;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
  }
  .products__filter{
    height: 100vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right:1px solid rgb(235, 229, 229);
  }
  .products__list{
    padding: 0;
  }
  .products__list__filter{
    padding: 1rem 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom: 1px solid rgb(235, 229, 229);
  }
  .products__list__body{
    display: flex;
  }
  .product{
    min-height: 100%;
    height: auto;
    border-radius: 0 !important;
    padding: 0.8rem;
    padding-bottom: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease-in-out;
    border-right: 1px solid #e3e5eb;
  }
  .product__tool-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__tools {
    justify-content: unset;
    margin-left: auto;
    color: #c2c5ca;
    display: flex;
    align-items: center;
  }
  .product__tools_a {
    color: inherit;
    margin-left: 2rem;
    background-color: transparent;
    font-weight: 400;
    transition: 0.3s;
    border-color: #1743df;
    text-decoration: none !important;
  }
  .product__tools_a .fa-balance-scale:hover {
    color: #f6861f;
  }
  .product__tools_a .fa-heart:hover {
    color: #ff0000;
  }
  .icon-p {
    width: 2rem;
    height: 1.3rem;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  .product__img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .product__img a {
    width: 60%;
    height: 100%;
    background-color: transparent;
    color: #1743df;
    font-weight: 400;
    transition: 0.3s;
    border-color: #1743df;
    text-decoration: none !important;
  }
  .product__img a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-style: none;
    vertical-align: middle;
  }
  .product__flex__left-right {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #212529;
    padding: 0;
  }
  .product__type {
    color: #95979c;
    font-size: 1rem;
    line-height: 2rem;
  }
  .product__name {
    color: #232d40;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1.2rem;
    text-decoration: none !important;
  }
  .product__colors {
    display: flex;
    flex-wrap: wrap;
    margin: 0.2rem 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  .product__colors li {
    margin: 0;
  }
  .product__colors li input {
    overflow: visible;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
  }
  .product__colors li .white {
    border: 1px dashed #c2c5ca;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    display: block;
  }
  .product__star-comment {
    margin-bottom: 1rem;
    display: flex;
    justify-content: unset;
    align-items: center;
  }
  .star-rating {
    font-size: 2rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .star-rating .on {
    background-image: url("./images/starOrange.svg");
  }
  .star-rating li {
    float: left;
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .comment-count {
    margin-left: 0.3rem;
    color: #5b5f66;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  .comment-count i {
    margin-right: 0.5rem;
    overflow: hidden;
    vertical-align: middle;
    font-size: 1rem;
  }
  .product__flex-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
  }
  .product__labels {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .product__labels .product__label {
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1rem;
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    border: 1px solid currentColor;
    min-height: 1.8rem;
    margin-right: 0.6rem;
  }
  .product__label--light-orange {
    color: #f6861f !important;
  }
  .product__footer {
    margin-top: 1.6rem;
    margin-bottom: 15px;
  }
  .product__price {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__price .new-price {
    font-size: 1.4rem;
    line-height: 1rem;
  }
  .product__price__list {
    background-color: #fafbfc;
    border-radius: 6px;
    padding: 0.5rem;
    margin-bottom: 5px;
  }
  .product__price__list__taksit {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product__price__list__taksit input {
    display: none;
  }
  .product__price__list__taksit label {
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #95979c;
    padding: 2px 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
  }
  .product__price__list__taksit input:checked + label {
    border-color: #232d40;
    color: #232d40;
  }
  .product__price__list__taksit-price {
    color: #232d40;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 0.4rem;
  }
  .product__to-cart {
    width: 100%;
    height: 50px;
    justify-content: center;
    transition: 0.3s ease-in-out;
    display: inline-flex;
    border-radius: 6px;
    border: 1px solid currentColor;
    font-weight: 600;
    font-size: 1rem;
    padding: 1.1rem 2rem;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
  }
  .product__to-cart:active {
    background-color: #fff !important;
    color: #40b659 !important;
  }
  .product__to-cart i {
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
  }